@import "variables";

.container {
  background-color: $color-primary;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.weather {
  margin-top: 25px;
  color: $color-primary-dark;
  &__main,
  &__description-wrapper,
  &__data {
    margin: 15px 0;
  }
  &__city,
  &__data-title {
    color: $color-primary;
  }
  &__city,
  &__temp {
    font-size: 38px;
  }
  &__temp {
    display: inline;
    margin-left: 20px;
  }
  &__description-wrapper {
    display: flex;
    align-items: center;
  }
  &__description {
    font-size: 19px;
    margin-right: 10px;
  }
  &__icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-primary-transparent;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
  &__data-item {
    margin: 8px 0;
  }
  &__data-title {
    margin-right: 10px;
  }
}

@media screen and (max-width: $mobile-size) {
  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
