<section class="container">
    <header class="header">
      <div class="header__logo">
        <img src="assets/images/umbrella.png" class="header__image" />
        <span class="header__text">Umbrella</span>
      </div>
      <div class="header__search">
        <input
          type="text"
          class="header__search-input"
          placeholder="Enter city..."
        />
        <button class="header__search-button">
          <img src="assets/images/magnifier.png" class="header__search-img" />
        </button>
      </div>
    </header>
  
    <div class="weather" *ngIf="weatherInfo">
      <div class="weather__main">
        <span class="weather__city">{{ weatherInfo.name }}</span>
        <p class="weather__temp">
          <span class="weather__temp-number">{{ weatherInfo.main.temp | number: '1.0-0' }}</span>
          <span class="weather__temp-deg">&deg;</span>
        </p>
      </div>
      <div class="weather__description-wrapper">
        <span class="weather__description">
          {{ weatherInfo.weather[0].description | titlecase }}
        </span>
        <div class="weather__icon-wrapper">
          <img [src]="iconUrl" class="weather__icon" />
        </div>
      </div>
      <div class="weather__data">
        <p class="weather__data-item">
          <span class="weather__data-title">Pressure:</span>
          <span class="weather__data-value"
            >{{ weatherInfo.main.pressure }} mbar</span
          >
        </p>
        <p class="weather__data-item">
          <span class="weather__data-title">Humidity:</span>
          <span class="weather__data-value"
            >{{ weatherInfo.main.humidity }} %</span
          >
        </p>
        <p class="weather__data-item">
          <span class="weather__data-title">Wind:</span>
          <span class="weather__data-value">
            {{ weatherInfo.wind.speed }} m/s
          </span>
        </p>
      </div>
    </div>
  </section>
  