<header class="header page-block">
  <div class="header__logo">
    <img src="assets/images/umbrella.png" class="header__image" />
    <span class="header__text">Umbrella</span>
  </div>
  <div class="header__search">
    <input
      type="text"
      class="header__search-input"
      placeholder="Enter city..."
      [(ngModel)]="cityName"
      name="cityName"
    />
    <button class="header__search-button" (click)="setCityName()">
      <img src="assets/images/magnifier.png" class="header__search-img" />
    </button>
  </div>
</header>
