@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__logo-image {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  &__text {
    font-size: 26px;
    color: $color-primary-dark;
    margin-right: 15px;
  }
  &__search {
    display: flex;
    align-items: center;
    &-input {
      height: 32px;
      border: none;
      border-bottom: 2px solid $color-primary-dark;
      margin-right: 5px;
      font-family: "Nunito", sans-serif;
      color: $color-primary-dark;
    }
    &-input:focus,
    &-button:focus {
      outline: none;
    }
    &-button {
      height: 32px;
      border: none;
      background: none;
    }
    &-img {
      width: 26px;
      height: 26px;
    }
    &-img:hover {
      transform: scale(1.05);
    }
    
  }
}

@media screen and (max-width: $mobile-size) {
  .header {
    justify-content: center;
    &__logo,
    &__search {
      margin: 10px 0;
    }
  }
}
